<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Spring Boot</title>
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
    crossorigin="anonymous">
</head>
<body class="container-fluid bg-warning bg-opacity-25" >
    <div>
        <header class="my-2 p-5 text-center">
            <h1 class="text-uppercase fw-bold font-monospace">Spring Boot App</h1>
        </header>

        <nav class="my-2">
            <ul class="nav nav-tab justify-content-center" >
                <li class="nav-item">
                    <a class="text-uppercase font-monospace nav-link link-dark active" aria-current="page" th:href="@{/}">home</a>
                </li>
                <li class="nav-item">
                    <a class="text-uppercase font-monospace nav-link link-dark" th:href="@{/post}">list</a>
                </li>
                <li class="nav-item">
                    <a class="text-uppercase font-monospace nav-link link-dark"  th:href="@{/post/create}">create</a>
                </li>
                
                <!-- 인증된 사용자이면(로그인 상태이면) -->
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="text-uppercase font-monospace nav-link link-dark" th:href="@{/logout}">
                        <!-- 로그인한 유저 이름 -->
                        [<span sec:authentication="name"></span>]
                        logout</a> 
                    </li>
                </th:block>
                <!-- 익명 사용자이면(로그아웃 상태이면) -->
                <th:block sec:authorize="isAnonymous()">
                     <li class="nav-item">
                        <a class="text-uppercase font-monospace nav-link link-dark" th:href="@{/member/signup}">sign-up</a> 
                    </li>
                    <li class="nav-item">
                        <a class="text-uppercase font-monospace nav-link link-dark" th:href="@{/login}">log-in</a> 
                    </li>
                </th:block>
            </ul>
        </nav>

        <!-- main 컨텐츠가 삽입될 위치 -->
        <th:block layout:fragment="main" style="margin-left: 100px; margin-right: 100px;"></th:block>

        <footer class="text-center font-monospace my-2 p-5">
            <small>rosybb13@gmail.com</small>
        </footer>
    </div>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <!-- javascript 파일 추가할 위치 -->
    <th:block layout:fragment="myscripts"></th:block>
</body>
</html>